body{    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
}
h1{
    font-size: 60px;
    line-height: 78px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #575757; 
}
h2{
    font-size: 40px;
    line-height: 54px;
    color: #707070;
}
p{
    font-size: 20px;
    font-weight: lighter;
    color: #828282;
    line-height: 34px;
}
header{
    margin: 0px 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header h2{

}
header span{
    color: #FBA24F;
}
header nav{align-self: center;}
header nav a{padding-right: 40px;text-decoration: none;font-size: 18px;color: black;}


#banner-sec{
    
    display: flex;
    height: 902px;
}
#banner-sec h1{
    margin-top: 200px;
}

.banner-half{
    width: 50%;
    padding: 5%;
}
.banner-half h1 span{
    color: #FBA24F;
}
.banner-half img{
    width: fit-content;
}
.banner-btn{
    background: linear-gradient(to right, #FBA24F, #FF1E12);
    padding: 23px 60px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 59px;
    margin-top: 35px;
    box-shadow: 0px -1px 19px 0px #fc8f49;
}
#about-us{
    
    height: 600px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.about-half{
    width: 50%;

}
.about-half img{
    width: 43%;
    padding-top: 60px;
    display: block;
    margin: 0 auto;

}
.about-half h2{
    padding-top: 120px;

}
.about-half p{
    width: 519px;
    color: #18191F;
}


.project-head{
    margin-top: 90px;
    margin-bottom: 30px;
}
.project-head h2{
    text-align: center;
    display: block;   
}
.project-head p{
    width: 48%;
    margin: 0 auto;
    text-align: center;
}
#project-list{
    display: flex;
    margin: 0px 105px;
    margin-bottom: 45px;
}
.project-card{
    margin: 26px;
    border: 22px solid white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.project-card img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.project-card p{
    color: #18191F;

}
.project-card h2{
    color: #18191F;
    font-size: 28px;
    font-weight: 800;
}
#social{
    display: flex;
    margin: 0px 100px 70px 100px;
    border: 22px solid white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.social-items{
    margin: 0 auto;
    text-align: center;
}
.social-items h2{
    font-size: 48px;
    line-height: 68px;
    color: black;
}
.social-items p{
    margin-top: -18px;
}
#footer{
    height: 256px;
    background-color: #0B0D17;
}
#footer span{
    color: #FF6736
}
#footer h2{
    text-align: center;
    padding-top: 49px;
    font-size: 30px;
    font-weight: 600;
}
#footer p{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}